  
 <body>    
    <div class="container"> 
       
        <hr /> 
         <hr /> 
         <div class="row margenPlan">

             <div class= "col  form-control  sepPlan " >  
             <label class="titul sepLetras2 tiDesc" ><center>   ENTREGA INMEDIATA   </center>    </label> 
             <hr /> 
             <h5  class="sepLetras4" ><center> Pactada desde fecha de pago, la entrega será inmediata </center> </h5>
             <hr />

              <table class= "separacionPadd sepLetras2 detalleDesc " > 
                 
                 <tr>
                      <td> -Entrega anticipada. </td> 
                  </tr>
                  <tr>
                      <td  class=separacionPadd> -Importantes descuentos.</td>  
                  </tr>
                  <tr class=separacionPadd>
                      <td> -Beneficios.</td>  
                  </tr>
                   <tr class=separacionPadd>
                      <td> -Service Gratuito por 1 año.</td>  
                  </tr>

              </table>
 
            </div>





             <div class= "col  form-control  sepPlan ">  
              <label class="titul sepLetras2 tiDesc"><center> ENTREGA EN CUOTA 3 </center>     </label> 
             <hr /> 
             <h5  class="sepLetras4"  ><center>Entrega asegurada luego de abonar la tercera cuota   </center></h5>
             <hr />

              <table class= "separacionPadd sepLetras2 detalleDesc"> 
                 
                  <tr>
                     <td> -Retiras en la sucursal mas cercana. </td> 
                  </tr>
                  <tr>
                     <td  class=separacionPadd> -Tramites express</td>  
                  </tr>
                  <tr class=separacionPadd>
                     <td> -Beneficios.</td>  
                  </tr>
                   <tr class=separacionPadd>
                     <td> -Service Gratuito por 1 año.</td>  
                  </tr>

                  </table>
 
             </div>
               


              <div class= "col form-control sepPlan ">  
             <label class="titul sepLetras2 tiDesc"><center> ENTREGA CUOTA 12 </center>     </label> 
             <hr /> 
             <h5  class="sepLetras4" ><center>Financiación con tasa fija, en pesos y garantizada.   </center></h5>
             <hr />

              <table class= "separacionPadd sepLetras2 detalleDesc"> 
                 
                  <tr>
                    <td> -Tramites express. </td> 
                  </tr>
                  <tr>
                    <td  class=separacionPadd> -Importantes descuentos.</td>  
                  </tr>
                  <tr class=separacionPadd>
                      <td> -Beneficios.</td>  
                  </tr>
                   <tr class=separacionPadd>
                     <td> -Financiación acorde a tu salario.</td>  
                  </tr>

              </table>
 
            </div>

                   
             <div class= "col form-control sepPlan ">  
             <label class="titul sepLetras2 tiDesc"> <center> PLAN AHORRO 24 CUOTAS   </center>    </label> 
             <hr /> 
             <h5  class="sepLetras4"> <center>Tasa fija en pesos y cuotas realmente accesibles   </center> </h5>
             <hr />

              <table class= "separacionPadd sepLetras2 detalleDesc"> 
                 
                  <tr>
                     <td> -Flexibilidad acorde a tu salario </td> 
                  </tr>
                  <tr>
                     <td  class=separacionPadd> -Importantes descuentos.</td>  
                  </tr>
                  <tr class=separacionPadd>
                     <td> -Beneficios.</td>  
                  </tr>
                   <tr class=separacionPadd>
                     <td> -Invertí en tu nuevo vehiculo</td>  
                  </tr>

                  </table>
 
             </div>
               

              

         </div>
     

    </div>

  <hr /> 
</body>