<h1 id="separacion1"> Los datos fueron registrados correctamente.</h1>
<h5> Ingresá a "Consultá tu plan" y obtendrás información sobre el estado de tu plan de financiación</h5>
<hr /> 

<div>
    <a asp-action="Index">Volver a Inicio</a>
</div>
