  
<div>   
     <table> 
         <tr>
             <td>
                 INMEDIATO_CONTADO
             </td>
             <td>
                  CUOTA_24

             </td>

         </tr>  
         <tr>
             <td>
                 CUOTA_12
             </td>
             <td>
                 ,CUOTA_3
             </td>
         </tr>

    </table>

</div>
